.notFound {
    max-width: 810px;
    margin: 130px auto;
    text-align: center;
  .errorCode {
    font-size: 150px;
    margin-bottom: 20px;
  }
  .errorText {
    font-size: 80px;
    margin-bottom: 20px;
  }
  .comeHome {
    text-decoration: underline;
    font-size: 40px;
  }
}